<style>
	.choseus-tabs .nav {
		display: flex;
	}
	.chosesus-content .list-checked li span {
		opacity: unset;
	}
</style>
<body id="bg">
<div class="page-wraper">
<div id="loading-area"><div class="la-anim-10"></div></div>

    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-primary bg-pt" style="background-image:url(images/banner/aboutus_banner.png);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">About Us</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a ui-sref="main.home">Home</a></li>
							<li>About Us</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">

            <!-- About Us -->
			<div class="section-full bg-white content-inner-2" style="background-image:url(images/background/bg1.png);">
				<div class="container">
					 <div class="row ">
						<div class="col-lg-5 col-md-4 about-img wow fadeIn" data-wow-delay="0.4s">
							<img src="images/about-us/aboutus.jpg" data-tilt alt=""/>
						</div>
						<div class="col-lg-7 col-md-8">
							<div class="abuot-box left row m-lr0 wow fadeIn" data-wow-delay="0.6s">
								<div class="col-lg-12">
									<h4 class="text-gray-light">We believe in dynamic growth for our organization, our clients, and our employees.</h4>
									<p class="text-justify">Metapercept is a trusted consulting and implementation service provider in the field of technical publication, software development, and professional training services. We are committed to improving the way you author, style, manage and curate your organization’s content. In the past nine years, we have developed a niche in providing end-to-end DITA-XML solutions that are cost-effective and meets your organization’s objectives.</p>
									<p class="m-b0 text-justify">The latest technologies derive Metapercept, and we continuously keep getting better in our expertise area of information architecture, structured authoring, content strategy, software development, and integration techniques. Our solutions and services are not limited to IT and Software, but we have expertise in automotive, aerospace, finance, healthcare services, IoT, artificial intelligence, and machine learning.</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<!-- About Us END-->
									
			<!-- Why Chose Us -->
			<div class="section-full content-inner-1 vision overlay-primary choseus-tabs bg-img-fix" style="background-image:url(images/background/bg19.jpg);">
				<div class="container">
					<div class="section-head text-white text-center">
						<h2 class="box-title m-tb0">Our Mission, Vision And Values<span class="bg-primary"></span></h2>
						<p>Metapercept has developed a niche on various fronts like software development, technical writing, content management, business consulting, content strategy, and more. We serve clients globally from different industry domains for end-to-end technology services and solutions</p>
					</div>
				</div>
				<div class="container-fluid">
					<div class="dlab-tabs choseus-tabs wow fadeIn" data-wow-delay="0.4s">
						<ul class="nav row justify-content-center">
							<li><a style="cursor: pointer;" data-toggle="tab" data-target="#vision" class="active"><span class="title-head">Our Vision</span></a></li>
							<li><a style="cursor: pointer;" data-toggle="tab" data-target="#mission"><span class="title-head">Our Mission</span></a></li>
							<li><a style="cursor: pointer;" data-toggle="tab" data-target="#values"><span class="title-head">Our Values</span></a></li>
						</ul>
					</div>
				</div>		
				<div class="container">
					<div class="tab-content chosesus-content">
						<div id="vision" class="tab-pane active">
							<div class="row p-tb50">
								<div class="col-lg-12 col-md-8 text-white">
									<div class="p-l30 wow fadeInRight" data-wow-delay="0.6s">
										<!-- <h4 class="font-weight-300">Metapercept’s vision is to provide world-class technology services, and exquisite technology solutions. We are passionate about innovation in cutting edge technologies.</h4> -->
										<ul class="list-checked primary">
											<li><span>Metapercept’s vision is to provide world-class technology services, and exquisite technology solutions. We are passionate about innovation in cutting edge technologies.</span></li>
											<!-- <li><span>Lorem Ipsum is simply dummy text of the printing</span></li>
											<li><span>Lorem Ipsum is simply dummy text of the printing</span></li> -->
										</ul>
									</div>									
								</div>
							</div>
						</div>
						<div id="mission" class="tab-pane">
							<div class="row p-tb50">
								<div class="col-lg-12 col-md-8 text-white">
									<div class="p-l30">
										<ul class="list-checked primary">
											<li><span>Meeting the expectations of our clients</span></li>
											<li><span>Innovation by continuous knowledge development</span></li>
											<li><span>Reflect transparency and integrity</span></li>
											<li><span>Incorporate ethical work principles</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div id="values" class="tab-pane">
							<div class="row p-tb50">
								<div class="col-lg-12 col-md-12 text-white">
									<div class="p-l30">
										<ul class="list-checked primary text-light">
											<li><span><strong class="font-weight-700">Quality of Service – </strong>We maintain a strict parameter in our quality and strive to improve continuously. We review ourselves and ensure we deliver our projects in time and in accordance with the industry standards.</span></li>
											<li><span class="text-light"><strong class="font-weight-700">Standardization – </strong>We adhere to the global software development, software testing, and technical writing standards required for business development. We work in collaboration with solution providers and ensure providing you with perfect and precise solutions.</span></li>
											<li><span><strong class="font-weight-700">Responsiveness –  </strong>We ensure a professional approach by communicating and responding on time. We respond to our client’s requirements promptly and handle the issues immediately. We aspire to maintain smooth communication with our clients to deliver the projects successfully.</span></li>
											<li><span><strong class="font-weight-700">Resource Utilization – </strong>We strive to provide the best services and solutions to our clients. To ensure the highest degree of client satisfaction, we identify the existing resources and utilize them to the optimum. Besides, we do that without huge investment for any web or mobile application, or any technical publication project.</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Why Chose Us End -->	
		
			<!-- Project Details -->
			<div class="section-full content-inner-1">
                <div class="container">
					<div class="row m-b40">
						<div class="col-lg-8 col-md-6 m-b20">
							<h2 class="m-b10 m-t0">Our Team</h2>
							<h5 class="m-b20">And The Success Started With Our Team.</h5>
							<p class="m-b10">We invest in our people and cultivate a work environment led by highly skilled resources to provide excellent solutions and service offerings.</p>
							<p class="m-b10">Metapercept’s team members are certified engineers who take full ownership of their work while establishing an excellent work-life balance.</p>
							<!-- <a href="#" class="site-button radius-xl outline">Read More <i class="fa fa-long-arrow-right"></i></a> -->
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="owl-fade-one owl-carousel owl-theme owl-loaded owl-theme owl-carousel gallery owl-btn-center-lr owl-btn-1 black owl-drag">
								<div class="item">
									<img src="images/team-collage-image/IMG-20190617-WA0004-blackwhite.jpg" alt=""/>
								</div>
								<div class="item">
									<img src="images/team-collage-image/IMG-20200306-WA0000-blackwhite.jpg" alt=""/>
								</div>
								<div class="item">
									<img src="images/team-collage-image/IMG-20200214-WA00112.jpg" alt=""/>
								</div>
								<div class="item">
									<img src="images/team-collage-image/IMG-20200214-WA0007-blackwhite.jpg" alt=""/>
								</div>
								<div class="item">
									<img src="images/team-collage-image/IMG-20200214-WA0000.jpg" alt=""/>
								</div>
								<div class="item">
									<img src="images/team-collage-image/IMG-20191008-WA0004-blackwhite.jpg" alt=""/>
								</div>
								<div class="item">
									<img src="images/team-collage-image/IMG-20191008-WA0002-blackwhite.jpg" alt=""/>
								</div>
								<div class="item">
									<img src="images/team-collage-image/IMG-20191004-WA0021.jpg" alt=""/>
								</div>
								<div class="item">
									<img src="images/team-collage-image/IMG-20190726-WA0000-blackwhite.jpg" alt=""/>
								</div>
								<div class="item">
									<img src="images/team-collage-image/IMG-20190717-WA0008.jpg" alt=""/>
								</div>
								<div class="item">
									<img src="images/team-collage-image/IMG-20190717-WA0005.jpg" alt=""/>
								</div>
								<div class="item">
									<img src="images/team-collage-image/IMG-20190530-WA0004-blackwhite-1.jpg" alt=""/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Project Details End -->

			<!-- Team Section -->
			<div class="section-full text-center bg-white content-inner-3">
				<div class="container">	
					<!-- blog post Carousel with no margin -->
					<div class="row">
						<div class="team-carousel mfp-gallery owl-loaded owl-theme owl-carousel gallery owl-btn-center-lr owl-btn-2 primary">
							<div class="item">
								<div class="dlab-box">
									<div class="dlab-media dlab-img-effect radius-sm"> <img src="images/team/2020-02-17.jpg" alt="">
									</div>
									<div class="dlab-title-bx p-a10">
										<h5 class="text-black m-a0">Amit Siddhartha</h5>
										<span class="clearfix">Founder &amp; CEO</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="dlab-box">
									<div class="dlab-media dlab-img-effect radius-sm"> <img src="images/team/2020-02-17_1-600x600.jpg" alt="">
									</div>
									<div class="dlab-title-bx p-a10">
										<h5 class="text-black m-a0">Priyanka Bhat</h5>
										<span class="clearfix">COO &amp; HR Head</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="dlab-box">
									<div class="dlab-media dlab-img-effect radius-sm"> <img src="images/team/IMG202002201209561-600x600.jpg" alt="">
									</div>
									<div class="dlab-title-bx p-a10">
										<h5 class="text-black m-a0">Jyotsana Mishra</h5>
										<span class="clearfix">Training &amp; Marketing Manager</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="dlab-box">
									<div class="dlab-media dlab-img-effect radius-sm"> <img src="images/team/IMG202002201208401-600x600.jpg" alt="">
									</div>
									<div class="dlab-title-bx p-a10">
										<h5 class="text-black m-a0">Bharatesh Arage</h5>
										<span class="clearfix">Lead Technical Writer</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="dlab-box">
									<div class="dlab-media dlab-img-effect radius-sm"> <img src="images/team/IMG-20190520-WA0007-600x600.jpg" alt="">
									</div>
									<div class="dlab-title-bx p-a10">
										<h5 class="text-black m-a0">Jeet Patel</h5>
										<span class="clearfix">Lead Software Developer</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="dlab-box">
									<div class="dlab-media dlab-img-effect radius-sm"> <img src="images/team/IMG-20190520-WA0005-600x600.jpg" alt="">
									</div>
									<div class="dlab-title-bx p-a10">
										<h5 class="text-black m-a0">Henna Katy</h5>
										<span class="clearfix">Technical Writer</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="dlab-box">
									<div class="dlab-media dlab-img-effect radius-sm"> <img src="images/team/IMG_20190916_1241502-600x600.jpg" alt="">
									</div>
									<div class="dlab-title-bx p-a10">
										<h5 class="text-black m-a0">Prashant Gupta</h5>
										<span class="clearfix">Technical Writer</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="dlab-box">
									<div class="dlab-media dlab-img-effect radius-sm"> <img src="images/team/Swaji-Joshi.jpg" alt="">
									</div>
									<div class="dlab-title-bx p-a10">
										<h5 class="text-black m-a0">Swati Joshi</h5>
										<span class="clearfix">Technical Writer</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="dlab-box">
									<div class="dlab-media dlab-img-effect radius-sm"> <img src="images/team/Alma-Photo.jpg" alt="">
									</div>
									<div class="dlab-title-bx p-a10">
										<h5 class="text-black m-a0">Alma Syed</h5>
										<span class="clearfix">Technical Writer</span>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- Team Section END -->

			<!-- About Quotes -->
			<div class="section-full p-tb80 content-inner-4">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="text-center max-w600 m-auto ">
								<div class="m-b20"><i class="fa fa-quote-left font-45 text-primary"></i></div>
								<h4 class="text-uppercase font-weight-700 font-30">Get in touch with us for your business outsourcing or training requirements.</h4>
								<a ui-sref="main.contactus" class="site-button radius-xl outline outline-2"><span class="p-lr10">Start New Projects</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- About Quotes End -->

			<div class="section-full add-to-call bg-primary p-tb30">
				<div class="container">
					<div class="d-lg-flex d-sm-block justify-content-between align-items-center">
						<h2 class="m-b10 m-t10 text-white">Adaptable, Agile, Committed, and Self Driven.</h2>
						<!-- <div><a href="#" class="site-button button-md white">Learn More</a></div> -->
					</div>
				</div>
			</div>			
		</div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->

    <button class="scroltop fa fa-chevron-up"></button>
</div>
<script src="../js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="../js/custom.js"></script><!-- CUSTOM FUCTIONS  -->	
</body>

