<style>
    .overlay-primary:after {
        opacity: 0.5;
    }

    .tillustration-section-n::after {
        content: '';
        position: absolute !important;
        width: 100% !important;
        max-width: 100% !important;
        height: 684px !important;
        background-image: url(https://dxp.netlify.com/assets/illustration/illustration-section-01.svg) !important;
        background-repeat: no-repeat !important;
        background-size: auto !important;
        left: 50% !important;
        top: 0 !important;
        background-position: center top !important;
        transform: translate(-50%) !important;
    }

    @media (min-width: 1200px){
    .section-rotate {
        padding-top: 8rem;
        /* padding-bottom: 12rem; */
    }}
    @media (min-width: 992px){
    .section-rotate {
        min-height: 480px;
        padding-top: 8rem;
        /* padding-bottom: 8rem; */
    }}
    .section-rotate {
        padding-top: 4rem;
        /* padding-bottom: 4rem; */
        /* overflow: hidden; */
        background: transparent;
        position: relative;
        z-index: 0;
    }

    .section-rotate .section-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    .middle {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .right-0 {
        right: 0;
    }
    .pt-7, .py-7 {
        padding-top: 6rem !important;
    }
    .position-absolute {
        position: absolute !important;
    }

    .bg-size--contain {
        background-size: contain;
    }
    .bg-absolute-cover {
        background-repeat: no-repeat;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        /* height: 100%; */
        /* z-index: 100; */
    }

    .tillustration-section-n::after {
        content: '';
        position: absolute !important;
        width: 100% !important;
        max-width: 100% !important;
        height: 684px !important;
        background-image: url(https://dxp.netlify.com/assets/illustration/illustration-section-01.svg) !important;
        background-repeat: no-repeat !important;
        background-size: auto !important;
        left: 50% !important;
        top: 0 !important;
        background-position: center top !important;
        transform: translate(-50%) !important;
    }

    .tillustration-section-n::after {
        content: '';
        position: absolute !important;
        width: 100% !important;
        max-width: 100% !important;
        height: 684px !important;
        background-image: url(https://dxp.netlify.com/assets/illustration/illustration-section-01.svg) !important;
        background-repeat: no-repeat !important;
        background-size: auto !important;
        left: 50% !important;
        top: 0 !important;
        background-position: center top !important;
        transform: translate(-50%) !important;
    }

    element.style {
        height: 1000px;
    }

    .bg-absolute-cover svg {
        height: 1000px;
        pointer-events: none;
    }
    svg:not(:root) {
        overflow: hidden;
    }
    svg {
        vertical-align: middle;
        overflow: hidden;
        width: 100%;
    }
    svg {
        overflow: hidden;
        vertical-align: middle;
    }

    .fill-blue {
    fill: #2684FF !important;
    }

    .stroke-blue {
    stroke: #2684FF !important;
    }

    .fill-indigo {
    fill: #6e00ff !important;
    }

    .stroke-indigo {
    stroke: #6e00ff !important;
    }

    .fill-purple {
    fill: #510FA8 !important;
    }

    .stroke-purple {
    stroke: #510FA8 !important;
    }

    .fill-pink {
    fill: #f074ad !important;
    }

    .stroke-pink {
    stroke: #f074ad !important;
    }

    .fill-red {
    fill: #FF5630 !important;
    }

    .stroke-red {
    stroke: #FF5630 !important;
    }

    .fill-orange {
    fill: #FFAB00 !important;
    }

    .stroke-orange {
    stroke: #FFAB00 !important;
    }

    .fill-yellow {
    fill: #ffcc00 !important;
    }

    .stroke-yellow {
    stroke: #ffcc00 !important;
    }

    .fill-green {
    fill: #36B37E !important;
    }

    .stroke-green {
    stroke: #36B37E !important;
    }

    .fill-teal {
    fill: #00B8D9 !important;
    }

    .stroke-teal {
    stroke: #00B8D9 !important;
    }

    .fill-cyan {
    fill: #4bd6e5 !important;
    }

    .stroke-cyan {
    stroke: #4bd6e5 !important;
    }

    .fill-white {
    fill: #FFF !important;
    }

    .stroke-white {
    stroke: #FFF !important;
    }

    .fill-gray {
    fill: #C0CCDA !important;
    }

    .stroke-gray {
    stroke: #C0CCDA !important;
    }

    .fill-gray-dark {
    fill: #3C4858 !important;
    }

    .stroke-gray-dark {
    stroke: #3C4858 !important;
    }

    /********* card expand *********/
    #expend {
    display:none;  
    }

    #expend + .smalldesc {
    max-height:52px;
    overflow:hidden;
    transition:all .3s ease;
    }

    #expend:checked + .smalldesc {
    max-height:250px;  
    }

    /* dxp */
    #dxp {
    display:none;  
    }

    #dxp + .smalldesc {
    max-height:52px;
    overflow:hidden;
    transition:all .3s ease;
    }

    #dxp:checked + .smalldesc {
    max-height:250px;  
    }

    /* adobetcs */
    #adobetcs {
    display:none;  
    }

    #adobetcs + .smalldesc {
    max-height:52px;
    overflow:hidden;
    transition:all .3s ease;
    }

    #adobetcs:checked + .smalldesc {
    max-height:250px;  
    }

    /* oxygen */
    #oxygen {
    display:none;  
    }

    #oxygen + .smalldesc {
    max-height:52px;
    overflow:hidden;
    transition:all .3s ease;
    }

    #oxygen:checked + .smalldesc {
    max-height:250px;  
    }

    /* easydita */
    #easydita {
    display:none;  
    }

    #easydita + .smalldesc {
    max-height:52px;
    overflow:hidden;
    transition:all .3s ease;
    }

    #easydita:checked + .smalldesc {
    max-height:250px;  
    }

    /* ditatoo */
    #ditatoo {
    display:none;  
    }

    #ditatoo + .smalldesc {
    max-height:52px;
    overflow:hidden;
    transition:all .3s ease;
    }

    #ditatoo:checked + .smalldesc {
    max-height:250px;  
    }

    /* altova */
    #altova {
    display:none;  
    }

    #altova + .smalldesc {
    max-height:52px;
    overflow:hidden;
    transition:all .3s ease;
    }

    #altova:checked + .smalldesc {
    max-height:250px;  
    }

    label {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
    }

    label:hover {
    text-decoration:none;  
    }

    /* remove visited color */
    a.change_hover_color:link { color:#6f6f6f; text-decoration:none; font-weight:normal; }
    a.change_hover_color:visited { color: #6f6f6f; text-decoration:none; font-weight:normal; }
    a.change_hover_color:hover { color: #6f6f6f; text-decoration:none; font-weight:normal; }
    a.change_hover_color:active { color: #6f6f6f; text-decoration:none; font-weight:normal; }
    /********* card expand *********/
</style>

<body id="bg">
<div class="page-wraper">
<div id="loading-area"><div class="la-anim-10"></div></div>

<!-- Content -->
<div class="page-content bg-white">


    <section class="header-1 section-rotate bg-section-secondary" data-offset-top="#header-main" style="padding-top: 80px;">
        <div class="section-inner " style="background-color: #101641 !important;">
          <!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
          </video> -->
          <!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="assets/video/DITAxPresso - Publishing and styling in DITA super easy.mp4" type="video/mp4">
          </video> -->
      </div>
        <!-- SVG illustration -->
        <div class="pt-7 position-absolute middle right-0 col-lg-7 col-xl-6 d-none d-lg-block">
            <figure class="w-100" style="max-width: 1000px;">
               <a href="DITAxPresso.html"><img src="images/products/dxp_screen.svg" height="300" style="height:300px;"></a>
            </figure>
        </div>
        <!-- SVG background -->
        <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
          <section class="rc np sh ir r tillustration-section-n"></section>
            <figure class="w-100 d-none d-lg-block">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 820" class="injected-svg svg-inject" style="height: 1000px;">
                    <path class="fill-cyan" d="M 153.37 455.293 L 143.264 444.989 C 142.269 443.976 142.269 442.371 143.264 441.358 L 153.37 431.055 C 154.364 430.042 155.938 430.042 156.932 431.055 L 167.038 441.358 C 168.032 442.371 168.032 443.976 167.038 444.989 L 156.932 455.293 C 156.02 456.306 154.364 456.306 153.37 455.293 Z" style=""></path>
                    <circle class="fill-pink" cx="1184.025" cy="85.335" r="9.723" style=""></circle>
                    <circle class="fill-yellow" stroke-width="3" stroke-miterlimit="10" cx="320.504" cy="209.51" r="12.587" style=""></circle>
                    <path class="fill-blue" d="M 42.564 -16.417 C 43.206 -18.074 44.682 -19.262 46.438 -19.535 L 62.879 -22.089 C 64.634 -22.362 66.401 -21.677 67.515 -20.294 L 77.948 -7.333 C 79.062 -5.949 79.353 -4.076 78.712 -2.419 L 72.703 13.096 C 72.061 14.753 70.585 15.941 68.829 16.215 L 52.388 18.769 C 50.633 19.042 48.865 18.358 47.752 16.973 L 37.319 4.012 C 36.205 2.628 35.914 0.755 36.555 -0.902 L 42.564 -16.417 Z" style=""></path>
                    <path class="fill-pink" d="M 1128.161 586.512 C 1128.462 585.735 1129.154 585.178 1129.977 585.05 L 1137.684 583.853 C 1138.506 583.725 1139.335 584.046 1139.857 584.695 L 1144.747 590.77 C 1145.269 591.419 1145.406 592.297 1145.105 593.073 L 1142.289 600.346 C 1141.988 601.123 1141.296 601.68 1140.473 601.808 L 1132.767 603.005 C 1131.944 603.133 1131.115 602.812 1130.593 602.163 L 1125.703 596.088 C 1125.181 595.439 1125.044 594.561 1125.345 593.785 L 1128.161 586.512 Z" style=""></path>
                    <path class="fill-purple" d="M 109.272 171.631 C 109.643 170.672 110.497 169.986 111.512 169.828 L 121.017 168.352 C 122.032 168.193 123.054 168.59 123.698 169.389 L 129.729 176.883 C 130.373 177.683 130.542 178.766 130.171 179.723 L 126.697 188.693 C 126.326 189.651 125.473 190.339 124.458 190.497 L 114.952 191.973 C 113.937 192.131 112.916 191.736 112.272 190.935 L 106.24 183.442 C 105.596 182.641 105.428 181.559 105.798 180.601 L 109.272 171.631 Z" style=""></path>
                    <path class="fill-purple" d="M 258.215 770.571 C 258.563 769.674 259.363 769.03 260.314 768.882 L 269.221 767.499 C 270.171 767.351 271.129 767.722 271.732 768.471 L 277.384 775.492 C 277.988 776.243 278.146 777.257 277.798 778.155 L 274.543 786.559 C 274.195 787.457 273.395 788.101 272.444 788.249 L 263.538 789.633 C 262.587 789.781 261.629 789.41 261.026 788.66 L 255.374 781.639 C 254.771 780.889 254.613 779.874 254.96 778.976 L 258.215 770.571 Z" style=""></path>
                    <circle class="fill-cyan" stroke-width="3" stroke-miterlimit="10" cx="730.584" cy="767.881" r="9.997" style=""></circle>
                    <path class="fill-purple" d="M 1390.234 263.204 C 1390.491 262.543 1391.08 262.067 1391.782 261.958 L 1398.352 260.938 C 1399.053 260.829 1399.759 261.103 1400.204 261.655 L 1404.373 266.834 C 1404.818 267.387 1404.934 268.136 1404.678 268.798 L 1402.277 274.997 C 1402.021 275.659 1401.43 276.134 1400.729 276.244 L 1394.16 277.265 C 1393.459 277.373 1392.752 277.1 1392.307 276.547 L 1388.138 271.368 C 1387.693 270.815 1387.577 270.066 1387.833 269.404 L 1390.234 263.204 Z" style=""></path>
                </svg>
            </figure>
        </div>
        <!-- Hero container -->
        <div class="container py-5 pt-lg-6 d-flex align-items-center position-relative zindex-100">
            <div class="col">
                <div class="row">
                    <div class="col-lg-5 col-xl-6 text-center text-lg-left">
                        <!-- <div class="d-none d-lg-block mb-4">
                            <div class="alert alert-modern alert-dark">
                                <span class="badge badge-danger badge-pill">
                                    Hot
                                </span>
                                <span class="alert-content">Dark mode, awesome shortcode library and more.</span>
                            </div>
                        </div> -->
                        <div>
                            <h2 class="text-white mb-4">
                                <span class="display-4 font-weight-light">Style, Restructure, Publish</span>
                                <span class="d-block"><strong class="font-weight-light">Now you can do all without any XSLT expertise.</strong></span>
                            </h2>
                            <p class="lead text-white">DITAxPresso is an innovative solution by Metapercept to resolve the publishing challenges in DITA. OEMs’ have always faced the challenge of publishing the Parts Catalog, Specification Sheet, and many more DITA documents. Now, you can style, edit, and publish your DITA documents on the go.</p>
                            <div class="mt-5">
                                <a ui-sref="main.DITAxPresso" class="site-button button-md white radius-xl m-r20">Read more</a>
                                <a ui-sref="main.contactus" class="site-button button-md outline outline-2 white radius-xl">Request Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sct-page-examples" class="slice bg-section-secondary" style="margin-top:0px !important; padding-top:0px !important;margin-bottom:0px !important; padding-bottom:0px !important;">
    
    <!-- contact area -->
    <div class="content-block">
        
        <!-- Our Awesome Services -->
        <div class="section-full bg-blue-light content-inner about-us-box" style="background-image:url(images/background/bg15.jpg); background-size:cover">
            <div class="container">
                <div  class="section-head text-center">
                    <h2 class="box-title m-tb0">Built for awesomeness<span class="bg-primary"></span></h2>
                    <p> We innovate to resolve the challenges in the field of DITA based technical publication environment, that not only works great, but is easy to work with, and cost effective. </p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp">
                        <a ui-sref="main.DITAxPresso" class="change_hover_color">
                            <div class="icon-bx-wraper ind-ser-bx center p-lr20 p-tb30 m-b30" style="margin-top: 0px;">
                                <div class="px-4 py-5">
                                    <!-- <img src="images/products/companylogo/dxp_lightblue_big.svg" width="250">    -->
                                    <img src="images/products/companylogo/dxp_thumb.png" width="60">                      
                                </div>
                                <div class="icon-content">
                                    <div class="service-1 click1">
                                        <input type="checkbox" id="dxp" />
                                        <div class="smalldesc">
                                            <p class="text-justify">Now you can style, restructure, and publish your DITA maps without stressing yourself about hiring an XSLT developer. Now, publish your DITA documents on the go.</p>
                                        </div> 
                                    </div>
                                </div>
                                <label for="dxp" class="site-button btn-block d-flex justify-content-between" style="text-decoration: none; margin-bottom: 0px;"><span>Read More</span> <i class="ti-arrow-right"></i></label>
                            </div>                            
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp">
                        <a href="https://www.adobe.com/in/products/technicalcommunicationsuite.html" target="_blank" class="change_hover_color">
                            <div class="icon-bx-wraper ind-ser-bx center p-lr20 p-tb30 m-b30" style="margin-top: 0px;">
                                <div class="" style="padding: 49px 70px !important;">
                                    <img src="images/products/companylogo/Adobe_Technical_Communication_Suite_Logo.svg" width="60">
                                </div>
                                <div class="icon-content">
                                    <div class="service-1 click1">
                                        <input type="checkbox" id="adobetcs" />
                                        <div class="smalldesc">
                                            <p class="text-justify">Adobe Technical Communication Suite is all you need to transform technical content into exceptional experiences to easily author long, complex XML and non-XML documents.</p>
                                        </div> 
                                    </div>
                                </div>
                                <label for="adobetcs" class="site-button btn-block d-flex justify-content-between" style="text-decoration: none; margin-bottom: 0px;"><span>Read More</span> <i class="ti-arrow-right"></i></label>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp">
                        <a href="https://www.oxygenxml.com/" target="_blank" class="change_hover_color">
                            <div class="icon-bx-wraper ind-ser-bx center p-lr20 p-tb30 m-b30" style="margin-top: 0px;">
                                <div class="" style="padding: 48px 70px !important;">
                                    <img src="images/products/companylogo/OxygenXMLEditor_icon_2019.svg" width="60">                          
                                </div>
                                <div class="icon-content">                                                              
                                    <div class="service-1 click1">
                                        <input type="checkbox" id="oxygen" />
                                        <div class="smalldesc">
                                            <p class="text-justify">Oxygen XML Author and Editor is a specialized DITA authoring software to enhance the productivity of content authors through an intuitive and innovative XML IDE.</p>
                                        </div> 
                                    </div>
                                </div>
                                <label for="oxygen" class="site-button btn-block d-flex justify-content-between" style="text-decoration: none; margin-bottom: 0px;"><span>Read More</span> <i class="ti-arrow-right"></i></label>
                            </div>                        
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp">
                        <a href="https://easydita.com/" target="_blank" class="change_hover_color">
                            <div class="icon-bx-wraper ind-ser-bx center p-lr20 p-tb30 m-b30" style="margin-top: 0px;">
                                <div class="" style="padding: 49px 70px !important;">
                                    <img src="images/products/companylogo/easyDITA-and-Jorsek-Logo-Small.png" width="180">                       
                                </div>
                                <div class="icon-content">
                                    <div class="service-1 click1">
                                        <input type="checkbox" id="easydita" />
                                        <div class="smalldesc">
                                            <p class="text-justify">easyDITA is the world’s only DITA CMS with a fully-collaborative XML editor, providing everything you need to create, manage, review, and publish all of your content to any channel, in any language, for any audience.</p>
                                        </div> 
                                    </div>
                                </div>
                                <label for="easydita" class="site-button btn-block d-flex justify-content-between" style="text-decoration: none; margin-bottom: 0px;"><span>Read More</span> <i class="ti-arrow-right"></i></label>
                            </div>                            
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp">
                        <a href="http://www.ditatoo.com/" target="_blank" class="change_hover_color">
                            <div class="icon-bx-wraper ind-ser-bx center p-lr20 p-tb30 m-b30" style="margin-top: 0px;">
                                <div class="" style="padding: 59px 70px !important;">
                                    <img src="images/products/companylogo/DITATooLogo.png" width="180">     
                                </div>
                                <div class="icon-content">
                                    <div class="service-1 click1">
                                        <input type="checkbox" id="ditatoo" />
                                        <div class="smalldesc">
                                            <p class="text-justify">DITAToo is a DITA Component Content Management System (DITA CCMS) that automates and facilitates many of the tasks you have to do everyday.</p>
                                        </div> 
                                    </div>
                                </div>
                                <label for="ditatoo" class="site-button btn-block d-flex justify-content-between" style="text-decoration: none; margin-bottom: 0px;"><span>Read More</span> <i class="ti-arrow-right"></i></label>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp">
                        <a href="https://www.altova.com/" target="_blank" class="change_hover_color">
                            <div class="icon-bx-wraper ind-ser-bx center p-lr20 p-tb30 m-b30" style="margin-top: 0px;">
                                <div class="" style="padding: 64px 70px !important;">
                                    <img src="images/products/companylogo/600px-Altova_logo.svg.png"  width="190">   
                                </div>
                                <div class="icon-content">                                                              
                                    <div class="service-1 click1">
                                        <input type="checkbox" id="altova" />
                                        <div class="smalldesc">
                                            <p class="text-justify">Altova offers a complete line of desktop developer software for XML, JSON, SQL, and UML; high-performance workflow automation server products; and a cross-platform mobile development framework.</p>
                                        </div> 
                                    </div>
                                </div>
                                <label for="altova" class="site-button btn-block d-flex justify-content-between" style="text-decoration: none; margin-bottom: 0px;"><span>Read More</span> <i class="ti-arrow-right"></i></label>
                            </div>                        
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Awesome Services End -->

        <div class="section-full content-inner bg-img-fix" style="background-image:url(images/background/bg11.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 text-center section-head">
                        <!-- <h2 class="font-weight-700 max-w700 m-auto">Invest in Our Company and have Healthy Profits for Long Term</h2> -->
                        <div class="" style="padding: 10px 0px;">
                            <img src="images/products/companylogo/dxp_lightblue_big.svg" width="350">                       
                        </div>
                        <p class="m-b0">Leveraging the benefits of publishing experience in DITA to the non DITA users. DITAxPresso is an approach to simplify the XSLT based styling, editing, and publishing.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-sm-6 m-b30 wow fadeIn" data-wow-delay="0.2s">
                        <div class="dlab-box" style="border: 1px solid #EFF2F7;">
                            <div class="dlab-info p-a30 border-1 bg-white" style="height: 520px;">
                                <div class="icon-md text-primary m-b20"> <a ui-sref="main.DITAxPresso" class="icon-cell text-primary" style="color:#0062cc !important;"><i class="flaticon-devices"></i></a> <div></div></div>
                                <h5 class="dlab-title m-t0"><a ui-sref="main.DITAxPresso">Publisher</a></h5>
                                <p class="text-justify">Experience a hasslefree DITA publishing with DITAxPresso. Now, generate the output to PDF, HTML, Markdown, and Word from your DITA maps. A feature that will be loved by the OEMs business analysts and marketing teams. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 m-b30 wow fadeIn" data-wow-delay="0.4s">
                        <div class="dlab-box" style="border: 1px solid #EFF2F7;">
                            <div class="dlab-info p-a30 border-1 bg-white" style="height: 520px;">
                                <div class="icon-md text-primary m-b20"> <a ui-sref="main.DITAxPresso" class="icon-cell text-primary" style="color:#0062cc !important;"><i class="flaticon-pen"></i></a> <div></div></div>
                                <h5 class="dlab-title m-t0"><a ui-sref="main.DITAxPresso">Styler</a></h5>
                                <p class="text-justify">Choose a readymade theme for PDF or HTML output. Change the look and feel based on your need, and modify the style format of your document without learning XSLT or CSS. With DITAxPresso Styler now reduce your styling work with the predefined fields to style your document. The Styler feature gives you the autonomy to customize your document using your branding, fonts, tables, lists, notes, and paragraph styles. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6 m-b30 wow fadeIn" data-wow-delay="0.6s">
                        <div class="dlab-box" style="border: 1px solid #EFF2F7;">
                            <div class="dlab-info p-a30 border-1 bg-white" style="height: 520px">
                                <div class="icon-md text-primary m-b20"> <a ui-sref="main.DITAxPresso" class="icon-cell text-primary" style="color:#0062cc !important;"><i class="flaticon-setting"></i></a> <div></div></div>
                                <h5 class="dlab-title m-t0"><a ui-sref="main.DITAxPresso">Builder</a></h5>
                                <p class="text-justify">Now edit the DITA maps on the go. The DITAxPresso’s quick conditional and context based map building mechanism lets you publish the content that you choose to publish. With a simple, yet robust map building feature, you can select the topics you want to hide and show the rest of maps or topics you want to publish. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Why Chose Us -->
        <div class="section-full bg-blue-light content-inner explore-projects" style="background-image:url(images/background/bg3.png)">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 section-head text-center" style="margin-bottom: 25px !important;">
                            <h2 class="m-b0 font-40"><span class="font-weight-400">Helpful</span> Answers</h2>
                            <p class="m-b0">A unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams.</p>
                            <a ui-sref="main.DITAxPresso_faqs" class="site-button button-md radius-xl m-t20">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Why Chose Us End -->
            
        <div class="section-full add-to-call bg-primary p-tb30">
            <div class="container">
                <div class="d-lg-flex d-sm-block justify-content-between align-items-center">
                    <h2 class="m-b10 m-t10 text-white">We develop product to support your innovations.</h2>
                    <!-- <div><a href="#" class="site-button button-md white">Learn More</a></div> -->
                </div>
            </div>
        </div>


    </div>
    <!-- contact area END -->
</div>
<!-- Content END-->

<button class="scroltop fa fa-chevron-up"></button>
</div>
<script src="../js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="../js/custom.js"></script><!-- CUSTOM FUCTIONS  -->	

</body>

